<div style="margin-right: 10px;">
  <img src="{{product.imagemURL}}" alt="Imagem de {{product.name}}" width="50" height="50" style="border-radius: 50%;">
</div>
<h1>{{product.name}}</h1>
<p>Preço: {{product.price}}</p>
<p>Descrição: {{product.description}}</p>
<form action="/cart" method="post">
  <input type="hidden" name="productId" value="{{product._id}}">
  <label>Quantidade: </label>
  <input type="number" name="quantity" min="1" value="1" required>
  <button type="submit">Adicionar ao Carrinho</button>
</form>
<a href="/realtimeproducts">Voltar para Produtos</a>