<h1>Produtos</h1>
<ul>
  {{#each products}}
  <li>
    <strong>{{this.name}}</strong> - {{this.price}} USD
    <button onclick="location.href='/products/{{this._id}}'">Ver detalhes</button>
    <button onclick="location.href='/editproduct/{{this._id}}'">Editar</button>
    <form action="/deleteproduct/{{this._id}}" method="POST" style="display:inline;">
      <button type="submit">Deletar</button>
    </form>
  </li>
  {{/each}}
</ul>
<button onclick="location.href='/addproduct'">Adicionar Produto</button>
<a href="/cart">Ver Carrinho</a>